<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${titulo}"></title>
</head>

<body>

  <h1 th:text="${titulo}"></h1>

  <ul>
    <li>
      <a th:href="@{/variables/string/} + 'Hola Luisito'">/variables/string/Hola Luisito</a>
    </li>
    <li>
      <a th:href="@{/variables/string/} + 'Que tal Angel'">/variables/string/Que tal Angel</a>
    </li>
    <li>
      <!-- Manera para agregar dinamicamento los datos ${...} => ${titulo} -->
      <a th:href="@{/variables/string/} + ${'Saludos LA'} + '/' + ${'150'}">/variables/string/Saludos LA/150</a>
    </li>
    <li>
      <a th:href="@{/variables/string/} + 'Saludos FG' + '/' + '20'">/variables/string/Saludos FG/20</a>
    </li>
  </ul>


</body>

</html>